/* typography */

body {
  font-family: Palatino, 'Book Antiqua', serif;
  font-size: 14px;
  line-height: 1.5em;
  color: #333;
}

h1 {
  font-weight: normal;
  font-style: italic;
  font-size: 3em;
  letter-spacing: -1px;
  color: #444;
}

h2, h3, h4, h5 {
  font-family: Helvetica, sans-serif;
  color: #444;
  margin: 1em 0;
}

h3 {
  font-weight: normal;
}

h4 {
  text-transform: uppercase;
}

h5, h6 {
  margin-top: -1.5em;
}

h6 {
  font-weight: normal;
  font-size: .8em;
  color: #555;
}

a {
  text-decoration: none;
  color: #606;
}

a:hover, a:active {
  color: #969;
}

ul {
  list-style-type: circle;
}

.name {
  font-family: Palatino, 'Book Antiqua', serif;
  font-style: italic;
}



/* base layout */

body {
  background-color: #606;
}

.wrapper-inner {
  max-width: 700px;
  min-width: 150px;
  padding: 0 10px;
  margin: auto;
}

.wrapper-outer {
  margin-top: 5px;
  border-top: 1px solid #FFF;
  padding-top: 1em;
  background: #fff url("/images/gradient-top.png") repeat-x right top;
}

ul {
  padding-left: 0;
}

table {
  margin: 1em 0;
}

td {
  padding-right: 1em;
}

.progress-outer {
  height: 5px;
  width: 150px;
  border: 1px solid #888;
  border-radius: 3px;
  margin-bottom: 3px;
}

.progress-inner {
  height: 100%;
  background-color: #C9C;
}



/* navigation */

nav ul {
  list-style-type: none;
  overflow-x: auto;
}

nav li {
  float: left;
  padding: 0 1em 0 0;
}



/* section/header arrangement */

section, .pseudo-section {
  clear: left;
  overflow-x: auto;
}

.section-title {
  width: 150px;
  float: left;
  overflow-x: auto;
}

.section-content, .pseudo-section-content {
  float: left;
  width: 100%;
  max-width: 550px;
  min-width: 150px;
  border-bottom: 1px solid #CCC;
}

.pseudo-section:before {
  content: "";
  display: block;
  height: 1px;
  width: 150px;
  float: left;
}

footer .pseudo-section-content {
  border-bottom: none;
}



/* section-specific styles */

#employment li {
  border-bottom: 1px dashed #CCC;
}

#employment li:last-child {
  border-bottom: none;
}
